* {
  box-sizing: border-box;
}

button { 
  
}

body {
  font-family: 'Karla';
  margin: 0;
  background-color: #0B2434;
}

.main--app {
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5fb;
  border-radius: 10px;
  text-align: center;
  margin: 50px 25px;
}

.main--header {
  padding: 20px 0 0 0;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -0.03em;
  margin-bottom: 5px;
}

.main--text {
  margin-top: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.03em;
  padding: 0;
  font-size: 20px;
  color: #4A4E74;
  width: 350px;
}

.main--numbers {
  font-family: 'Karla';
  width: 72px;
  height: 72px;
  background-color: #FFFFFF;
  border-radius: 8px;
  font-size: 38px;
  font-weight: 700;
  color: #2B283A;
  border: none;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
}

.dice--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

.roll--dice {
  font-family: 'Karla';
  font-size: 28px;
  font-weight: 700;
  width: 185px;
  height: 72px;
  background-color: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 9px;
  margin: 40px;
  color: white;
}
